*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito';
    font-weight: 400px;
}

body{
    background: rgb(6,6,6);
    background: linear-gradient(90deg, rgba(6,6,6,1) 5%, rgba(0,0,0,1) 7%, rgba(0,202,255,1));
}

.contenedor-titulo{
    width: 1024px;
    margin: auto;
}

.titulo{
    color: #ffff;
    text-align: center;
}

main{
    display: flex;
    margin-bottom: px;
    width: 100%;
}

.text-area{
    border: none;
    padding: 10px;
    margin-top: 80px;
    margin-left: 350px;
    margin-right: 5px;
    text-transform: lowercase;
    width: 500px;
    height: 700px;
    border-radius: 10px;
}

.regla{
    display: inline-block;
    position: relative;
    top: -5px;
    left: -525px;
}

.botones{
    display: flex;
    margin: 25px 0px;
}

.bt-encriptar{
    background: #000000;
    color: #ffff;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 385px;
    border: none;
    font-size: 20px;
}

.bt-encriptar:active{
    background: rgba(0,212,255,1);
    width: 197px;
    color: #000000;
    height: 39px;
    font-weight: bold;
    border: none;
}

.bt-desencriptar{
    background: #000000;
    color: #ffff;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 40px;
    border: none;
    font-size: 20px;
}

.bt-desencriptar:active{
    background: rgba(0,212,255,1);
    width: 197px;
    color: #000000;
    height: 39px;
    font-weight: bold;
    border: none;
}

.mensaje{
    border: none;
    padding: 10px;
    margin-top: 80px;
    margin-right: 5px;
    text-transform: lowercase;
    width: 500px;
    height: 700px;
    border-radius: 10px;
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1em;
}

.social{
    padding-top: 10px;
    height: 70px;
    background: #1f1f1f1f;
}

.logo1{
    width: 45px;
    margin-left: 900px;
}

.logo2{
    width: 45px;
}

.gmail{
    position: relative;
    color: #ffff;
    display: inline-block;
    left: 645px;
    font-size: 20px;
}